<div class="well inset">
    <p>My name is Daniel Werner and this is my website.  I will use this space to present a public face for my software development efforts.
        Wernerware is a name under which I have done business in the past. Wernerware's products include a number of Android apps made in the 2010 to 2011 timeframe.
        This development pushed me into professional development work with existing employers, but I've always wanted to have something of my own as well.  
    </p>
    <p>Over the years I have developed skills and experience in this business.  I am a full-stack developer, with experience in Angular on the front end
        and Java/Spring on the back.  I've also worked with Node and on both native and hybrid mobile applications.  Specifically I worked with the Ionic framework on the 
        hybrid side.
    </p>
    <p>
        Contact information is forthcoming, but not quite ready yet.
    </p>
</div>